.datetime__cal {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 240px;
    color: #4295DB;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}

.datetime__cal--active {
    overflow: visible;
    height: auto;
    opacity: 1;
    padding: 10px 5px 0 5px;
}

.datetime__table {
    text-align: center;
}

.datetime__table .full:hover {
    cursor: pointer;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="-10 -18 100 135"><circle cx="40" cy="40" r="45" fill="none" stroke="#2887D9" stroke-width="3"/></svg>') -1px 0;
}

.datetime__table .full {
    min-width: 30px;
    height: 30px;
    color: #5F676A;
}

.datetime__header {
    text-align: center;
}

.datetime__btn {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -2px;
    right: 20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    border: 0;
    background: none;
    font-size: 100%;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.datetime__btn:focus {
	outline: none;
}

.datetime__btn:after {
    content: '❯';
    font-size: 16px;
    position: absolute;
    min-height: 30px;
    min-width: 30px;
}

.datetime__btn:hover:after {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="-10 -18 100 135"><circle cx="40" cy="40" r="40" fill="#2887D9" stroke="#2887D9" stroke-width="3"/></svg>') -3px -3px no-repeat;
    color: #ffffff
}

.datetime__btn--prev {
    left: -10px;
    right: 0;
}

.datetime__btn--prev:after {
    content: "❮";
}

.datetime__btn--prev:hover:after {
    background-position: -2px -3px;
}

